# This .gitignore file should be placed at the root of your Unity project directory
#

/[Bb]uild/
/[Dd]ist/
/SnakeEyes/Code/__pycache__/
/SnakeEyes/Code/Scenes/__pycache__/
/SnakeEyes/Code/__pycache__/*.pyc
/SnakeEyes/Code/Scenes/__pycache__/*.pyc
*.pyc

